failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

\restrict lyCcge86dLmXnLIv1XdEddGF07FGg0hiNN1DqEeCYpJYu5dxfHeYB9ix9rPc7v9

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.achievement (
    id integer NOT NULL,
    code character varying(30) NOT NULL,
    title character varying(80) NOT NULL,
    description character varying(255),
    icon character varying(80),
    points integer DEFAULT 0 NOT NULL
);


--
-- Name: achievement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.achievement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: achievement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.achievement_id_seq OWNED BY public.achievement.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: anomaly; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.anomaly (
    id integer NOT NULL,
    user_id integer NOT NULL,
    transaction_id integer,
    category_id integer,
    expected_value numeric(10,2),
    actual_value numeric(10,2) NOT NULL,
    deviation_percentage numeric(5,2),
    status character varying(30) DEFAULT 'pendente'::character varying NOT NULL,
    detected_at timestamp without time zone NOT NULL
);


--
-- Name: anomaly_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.anomaly_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: anomaly_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.anomaly_id_seq OWNED BY public.anomaly.id;


--
-- Name: automation_rule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.automation_rule (
    id integer NOT NULL,
    user_id integer NOT NULL,
    trigger character varying(120) NOT NULL,
    condition character varying(255),
    action character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_execution timestamp without time zone
);


--
-- Name: automation_rule_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.automation_rule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: automation_rule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.automation_rule_id_seq OWNED BY public.automation_rule.id;


--
-- Name: balance_projection; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.balance_projection (
    id integer NOT NULL,
    user_id integer NOT NULL,
    period_days integer NOT NULL,
    current_balance numeric(10,2) NOT NULL,
    projected_balance numeric(10,2) NOT NULL,
    expected_inflows json,
    expected_outflows json,
    generated_at timestamp without time zone NOT NULL
);


--
-- Name: balance_projection_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.balance_projection_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: balance_projection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.balance_projection_id_seq OWNED BY public.balance_projection.id;


--
-- Name: budget; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.budget (
    id integer NOT NULL,
    user_id integer NOT NULL,
    category_id integer NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL,
    limit_value numeric(10,2) NOT NULL,
    current_spent numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    consumed_percentage numeric(5,2) DEFAULT '0'::numeric NOT NULL
);


--
-- Name: budget_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.budget_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: budget_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.budget_id_seq OWNED BY public.budget.id;


--
-- Name: category_reserve; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.category_reserve (
    id integer NOT NULL,
    user_id integer NOT NULL,
    category_id integer NOT NULL,
    reserved_value numeric(10,2) NOT NULL,
    note character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: category_reserve_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.category_reserve_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: category_reserve_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.category_reserve_id_seq OWNED BY public.category_reserve.id;


--
-- Name: external_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.external_data (
    id integer NOT NULL,
    source character varying(80) NOT NULL,
    indicator character varying(80) NOT NULL,
    value numeric(15,6) NOT NULL,
    reference_date date NOT NULL,
    collected_at timestamp without time zone NOT NULL
);


--
-- Name: external_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.external_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: external_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.external_data_id_seq OWNED BY public.external_data.id;


--
-- Name: financial_goal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.financial_goal (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying(120) NOT NULL,
    target_value numeric(10,2) NOT NULL,
    current_value numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    deadline date,
    status character varying(30) DEFAULT 'em_andamento'::character varying NOT NULL,
    suggested_contribution numeric(10,2)
);


--
-- Name: financial_goal_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.financial_goal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: financial_goal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.financial_goal_id_seq OWNED BY public.financial_goal.id;


--
-- Name: financial_score; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.financial_score (
    id integer NOT NULL,
    user_id integer NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL,
    score numeric(5,2) NOT NULL,
    expense_income_ratio numeric(5,4),
    emergency_reserve numeric(10,2),
    components json,
    calculated_at timestamp without time zone NOT NULL
);


--
-- Name: financial_score_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.financial_score_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: financial_score_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.financial_score_id_seq OWNED BY public.financial_score.id;


--
-- Name: goal_contribution; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goal_contribution (
    id integer NOT NULL,
    goal_id integer NOT NULL,
    transaction_id integer,
    value numeric(10,2) NOT NULL,
    contribution_date timestamp without time zone NOT NULL
);


--
-- Name: goal_contribution_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.goal_contribution_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: goal_contribution_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.goal_contribution_id_seq OWNED BY public.goal_contribution.id;


--
-- Name: income; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.income (
    id integer NOT NULL,
    investment_id integer NOT NULL,
    income_type_id integer NOT NULL,
    income_date date NOT NULL,
    income_value numeric(10,2) NOT NULL,
    ir_withheld numeric(10,2) DEFAULT '0'::numeric
);


--
-- Name: income_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.income_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: income_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.income_id_seq OWNED BY public.income.id;


--
-- Name: income_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.income_type (
    id integer NOT NULL,
    description character varying(120) NOT NULL
);


--
-- Name: income_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.income_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: income_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.income_type_id_seq OWNED BY public.income_type.id;


--
-- Name: investment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.investment (
    id integer NOT NULL,
    user_id integer NOT NULL,
    investment_type_id integer NOT NULL,
    transaction_id integer,
    invested_value numeric(10,2) NOT NULL,
    interest_rate numeric(5,4),
    maturity_date date,
    application_date date NOT NULL,
    status character varying(30) DEFAULT 'ativo'::character varying NOT NULL
);


--
-- Name: investment_composition; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.investment_composition (
    id integer NOT NULL,
    investment_id integer NOT NULL,
    transaction_id integer NOT NULL,
    percentage numeric(5,2) NOT NULL,
    observation character varying(255)
);


--
-- Name: investment_composition_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.investment_composition_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: investment_composition_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.investment_composition_id_seq OWNED BY public.investment_composition.id;


--
-- Name: investment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.investment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: investment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.investment_id_seq OWNED BY public.investment.id;


--
-- Name: investment_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.investment_type (
    id integer NOT NULL,
    acronym character varying(10) NOT NULL,
    description character varying(120),
    daily_liquidity boolean DEFAULT false NOT NULL,
    fixed_income boolean DEFAULT false NOT NULL,
    ir_discount numeric(5,2)
);


--
-- Name: investment_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.investment_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: investment_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.investment_type_id_seq OWNED BY public.investment_type.id;


--
-- Name: log_transaction; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.log_transaction (
    id integer NOT NULL,
    transaction_id integer NOT NULL,
    log_date date NOT NULL
);


--
-- Name: log_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.log_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: log_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.log_transaction_id_seq OWNED BY public.log_transaction.id;


--
-- Name: simulation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.simulation (
    id integer NOT NULL,
    user_id integer NOT NULL,
    simulation_type character varying(60) NOT NULL,
    parameters json NOT NULL,
    result json,
    created_at timestamp without time zone NOT NULL
);


--
-- Name: simulation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.simulation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: simulation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.simulation_id_seq OWNED BY public.simulation.id;


--
-- Name: transaction; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transaction (
    id integer NOT NULL,
    transaction_date date NOT NULL,
    transaction_value numeric(10,2) NOT NULL,
    user_id integer NOT NULL,
    transaction_type_id integer NOT NULL,
    transaction_category_id integer NOT NULL
);


--
-- Name: transaction_category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transaction_category (
    id integer NOT NULL,
    acronym character(4) NOT NULL,
    description character varying(120)
);


--
-- Name: transaction_category_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.transaction_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: transaction_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.transaction_category_id_seq OWNED BY public.transaction_category.id;


--
-- Name: transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.transaction_id_seq OWNED BY public.transaction.id;


--
-- Name: transaction_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transaction_type (
    id integer NOT NULL,
    description character varying(120) NOT NULL
);


--
-- Name: transaction_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.transaction_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: transaction_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.transaction_type_id_seq OWNED BY public.transaction_type.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    name character varying(60) NOT NULL,
    password character varying(255) NOT NULL
);


--
-- Name: user_achievement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_achievement (
    id integer NOT NULL,
    user_id integer NOT NULL,
    achievement_id integer NOT NULL,
    unlocked_at timestamp without time zone NOT NULL
);


--
-- Name: user_achievement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_achievement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_achievement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_achievement_id_seq OWNED BY public.user_achievement.id;


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: achievement id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievement ALTER COLUMN id SET DEFAULT nextval('public.achievement_id_seq'::regclass);


--
-- Name: anomaly id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.anomaly ALTER COLUMN id SET DEFAULT nextval('public.anomaly_id_seq'::regclass);


--
-- Name: automation_rule id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_rule ALTER COLUMN id SET DEFAULT nextval('public.automation_rule_id_seq'::regclass);


--
-- Name: balance_projection id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_projection ALTER COLUMN id SET DEFAULT nextval('public.balance_projection_id_seq'::regclass);


--
-- Name: budget id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.budget ALTER COLUMN id SET DEFAULT nextval('public.budget_id_seq'::regclass);


--
-- Name: category_reserve id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_reserve ALTER COLUMN id SET DEFAULT nextval('public.category_reserve_id_seq'::regclass);


--
-- Name: external_data id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.external_data ALTER COLUMN id SET DEFAULT nextval('public.external_data_id_seq'::regclass);


--
-- Name: financial_goal id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_goal ALTER COLUMN id SET DEFAULT nextval('public.financial_goal_id_seq'::regclass);


--
-- Name: financial_score id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_score ALTER COLUMN id SET DEFAULT nextval('public.financial_score_id_seq'::regclass);


--
-- Name: goal_contribution id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_contribution ALTER COLUMN id SET DEFAULT nextval('public.goal_contribution_id_seq'::regclass);


--
-- Name: income id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income ALTER COLUMN id SET DEFAULT nextval('public.income_id_seq'::regclass);


--
-- Name: income_type id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income_type ALTER COLUMN id SET DEFAULT nextval('public.income_type_id_seq'::regclass);


--
-- Name: investment id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment ALTER COLUMN id SET DEFAULT nextval('public.investment_id_seq'::regclass);


--
-- Name: investment_composition id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_composition ALTER COLUMN id SET DEFAULT nextval('public.investment_composition_id_seq'::regclass);


--
-- Name: investment_type id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_type ALTER COLUMN id SET DEFAULT nextval('public.investment_type_id_seq'::regclass);


--
-- Name: log_transaction id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_transaction ALTER COLUMN id SET DEFAULT nextval('public.log_transaction_id_seq'::regclass);


--
-- Name: simulation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation ALTER COLUMN id SET DEFAULT nextval('public.simulation_id_seq'::regclass);


--
-- Name: transaction id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction ALTER COLUMN id SET DEFAULT nextval('public.transaction_id_seq'::regclass);


--
-- Name: transaction_category id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction_category ALTER COLUMN id SET DEFAULT nextval('public.transaction_category_id_seq'::regclass);


--
-- Name: transaction_type id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction_type ALTER COLUMN id SET DEFAULT nextval('public.transaction_type_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: user_achievement id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievement ALTER COLUMN id SET DEFAULT nextval('public.user_achievement_id_seq'::regclass);


--
-- Data for Name: achievement; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.achievement (id, code, title, description, icon, points) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
de0531c39822
\.


--
-- Data for Name: anomaly; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.anomaly (id, user_id, transaction_id, category_id, expected_value, actual_value, deviation_percentage, status, detected_at) FROM stdin;
\.


--
-- Data for Name: automation_rule; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.automation_rule (id, user_id, trigger, condition, action, is_active, last_execution) FROM stdin;
\.


--
-- Data for Name: balance_projection; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.balance_projection (id, user_id, period_days, current_balance, projected_balance, expected_inflows, expected_outflows, generated_at) FROM stdin;
\.


--
-- Data for Name: budget; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.budget (id, user_id, category_id, month, year, limit_value, current_spent, consumed_percentage) FROM stdin;
12	4	6	6	2026	550.00	0.00	0.00
13	4	10	6	2026	1000.00	0.00	0.00
14	4	15	6	2026	240.00	0.00	0.00
16	4	14	6	2026	100.00	0.00	0.00
18	4	19	6	2026	430.00	0.00	0.00
19	4	8	6	2026	200.00	0.00	0.00
20	4	20	6	2026	450.00	0.00	0.00
21	4	21	6	2026	300.00	0.00	0.00
22	4	18	6	2026	630.00	0.00	0.00
\.


--
-- Data for Name: category_reserve; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: external_data; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.external_data (id, source, indicator, value, reference_date, collected_at) FROM stdin;
\.


--
-- Data for Name: financial_goal; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.financial_goal (id, user_id, title, target_value, current_value, deadline, status, suggested_contribution) FROM stdin;
\.


--
-- Data for Name: financial_score; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.financial_score (id, user_id, month, year, score, expense_income_ratio, emergency_reserve, components, calculated_at) FROM stdin;
\.


--
-- Data for Name: goal_contribution; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.goal_contribution (id, goal_id, transaction_id, value, contribution_date) FROM stdin;
\.


--
-- Data for Name: income; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.income (id, investment_id, income_type_id, income_date, income_value, ir_withheld) FROM stdin;
5	8	5	2026-06-02	300.00	0.00
6	7	5	2026-06-02	300.00	0.00
\.


--
-- Data for Name: income_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.income_type (id, description) FROM stdin;
1	Juros
2	Dividendo
3	Venda
4	Resgate
5	Aporte Adicional
\.


--
-- Data for Name: investment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.investment (id, user_id, investment_type_id, transaction_id, invested_value, interest_rate, maturity_date, application_date, status) FROM stdin;
7	4	1	23	3974.71	0.1350	\N	2026-06-01	ativo
8	4	10	24	900.00	0.1350	\N	2026-06-02	ativo
9	4	11	23	600.00	0.1350	\N	2026-06-02	ativo
\.


--
-- Data for Name: investment_composition; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.investment_composition (id, investment_id, transaction_id, percentage, observation) FROM stdin;
\.


--
-- Data for Name: investment_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.investment_type (id, acronym, description, daily_liquidity, fixed_income, ir_discount) FROM stdin;
1	RE	CDB - NU (R.E)	t	t	22.50
10	CAR	CDB - NU (CARRO)	t	t	22.50
11	APRT	CDB - NU (APARTAMENTO)	f	f	22.50
\.


--
-- Data for Name: log_transaction; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.log_transaction (id, transaction_id, log_date) FROM stdin;
\.


--
-- Data for Name: simulation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.simulation (id, user_id, simulation_type, parameters, result, created_at) FROM stdin;
\.


--
-- Data for Name: transaction; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.transaction (id, transaction_date, transaction_value, user_id, transaction_type_id, transaction_category_id) FROM stdin;
21	2026-06-01	6000.00	4	8	4
22	2026-06-01	1750.00	4	8	18
23	2026-06-02	-600.00	4	7	11
24	2026-06-02	-900.00	4	7	11
25	2026-06-02	-300.00	4	7	11
26	2026-06-02	-600.00	4	7	11
27	2026-06-02	-450.00	4	7	20
28	2026-06-02	-59.00	4	7	14
29	2026-06-02	-120.00	4	7	15
30	2026-06-02	-630.00	4	7	18
31	2026-06-02	-292.70	4	7	6
32	2026-06-02	-712.00	4	7	10
33	2026-06-03	-300.00	4	7	11
34	2026-06-03	-90.00	4	7	19
35	2026-06-03	-69.94	4	7	6
\.


--
-- Data for Name: transaction_category; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.transaction_category (id, acronym, description) FROM stdin;
4	SAL 	Sal├írio
5	ALM 	Alimenta├º├úo
6	TRN 	Transporte
7	FGTS	FGTS
8	GYMP	GYMPASS
9	BENB	Benef├¡cios
10	CCNU	Cart├úo de Cr├®dito - NU
11	INV 	Investimento
14	EVSC	Eventos Sociais
15	TERP	Terapia
16	VIGM	Viagem
17	APT 	Apartamento
18	CXA 	Caixa
19	ESTD	Estudo
20	CNFX	Contas Fixas
21	DSJS	Desejos
22	CARO	Carro
\.


--
-- Data for Name: transaction_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.transaction_type (id, description) FROM stdin;
7	Sa├¡da
8	Entrada
9	Investimento
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."user" (id, name, password) FROM stdin;
4	eduardo	$2b$12$vmF06yYmUMgDY/1QnfNIfOmqAY08nexBMZ2bB89s4J7csInB6ir0W
\.


--
-- Data for Name: user_achievement; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_achievement (id, user_id, achievement_id, unlocked_at) FROM stdin;
\.


--
-- Name: achievement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.achievement_id_seq', 1, false);


--
-- Name: anomaly_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.anomaly_id_seq', 1, false);


--
-- Name: automation_rule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.automation_rule_id_seq', 1, false);


--
-- Name: balance_projection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.balance_projection_id_seq', 1, false);


--
-- Name: budget_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.budget_id_seq', 22, true);


--
-- Name: category_reserve_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.category_reserve_id_seq', 17, true);


--
-- Name: external_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.external_data_id_seq', 1, false);


--
-- Name: financial_goal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.financial_goal_id_seq', 1, false);


--
-- Name: financial_score_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.financial_score_id_seq', 1, false);


--
-- Name: goal_contribution_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.goal_contribution_id_seq', 1, false);


--
-- Name: income_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.income_id_seq', 6, true);


--
-- Name: income_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.income_type_id_seq', 5, true);


--
-- Name: investment_composition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.investment_composition_id_seq', 1, false);


--
-- Name: investment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.investment_id_seq', 9, true);


--
-- Name: investment_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.investment_type_id_seq', 11, true);


--
-- Name: log_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.log_transaction_id_seq', 1, false);


--
-- Name: simulation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.simulation_id_seq', 1, false);


--
-- Name: transaction_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.transaction_category_id_seq', 22, true);


--
-- Name: transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.transaction_id_seq', 35, true);


--
-- Name: transaction_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.transaction_type_id_seq', 9, true);


--
-- Name: user_achievement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_achievement_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_id_seq', 4, true);


--
-- Name: achievement achievement_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievement
    ADD CONSTRAINT achievement_code_key UNIQUE (code);


--
-- Name: achievement achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievement
    ADD CONSTRAINT achievement_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: anomaly anomaly_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.anomaly
    ADD CONSTRAINT anomaly_pkey PRIMARY KEY (id);


--
-- Name: automation_rule automation_rule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_rule
    ADD CONSTRAINT automation_rule_pkey PRIMARY KEY (id);


--
-- Name: balance_projection balance_projection_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_projection
    ADD CONSTRAINT balance_projection_pkey PRIMARY KEY (id);


--
-- Name: budget budget_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.budget
    ADD CONSTRAINT budget_pkey PRIMARY KEY (id);


--
-- Name: category_reserve category_reserve_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_reserve
    ADD CONSTRAINT category_reserve_pkey PRIMARY KEY (id);


--
-- Name: external_data external_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.external_data
    ADD CONSTRAINT external_data_pkey PRIMARY KEY (id);


--
-- Name: financial_goal financial_goal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_goal
    ADD CONSTRAINT financial_goal_pkey PRIMARY KEY (id);


--
-- Name: financial_score financial_score_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_score
    ADD CONSTRAINT financial_score_pkey PRIMARY KEY (id);


--
-- Name: goal_contribution goal_contribution_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_contribution
    ADD CONSTRAINT goal_contribution_pkey PRIMARY KEY (id);


--
-- Name: income income_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_pkey PRIMARY KEY (id);


--
-- Name: income_type income_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income_type
    ADD CONSTRAINT income_type_pkey PRIMARY KEY (id);


--
-- Name: investment_composition investment_composition_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_composition
    ADD CONSTRAINT investment_composition_pkey PRIMARY KEY (id);


--
-- Name: investment investment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment
    ADD CONSTRAINT investment_pkey PRIMARY KEY (id);


--
-- Name: investment_type investment_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_type
    ADD CONSTRAINT investment_type_pkey PRIMARY KEY (id);


--
-- Name: log_transaction log_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_transaction
    ADD CONSTRAINT log_transaction_pkey PRIMARY KEY (id);


--
-- Name: simulation simulation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation
    ADD CONSTRAINT simulation_pkey PRIMARY KEY (id);


--
-- Name: transaction_category transaction_category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction_category
    ADD CONSTRAINT transaction_category_pkey PRIMARY KEY (id);


--
-- Name: transaction transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_pkey PRIMARY KEY (id);


--
-- Name: transaction_type transaction_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction_type
    ADD CONSTRAINT transaction_type_pkey PRIMARY KEY (id);


--
-- Name: category_reserve uq_user_category_reserve; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_reserve
    ADD CONSTRAINT uq_user_category_reserve UNIQUE (user_id, category_id);


--
-- Name: user_achievement user_achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievement
    ADD CONSTRAINT user_achievement_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: anomaly anomaly_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.anomaly
    ADD CONSTRAINT anomaly_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.transaction_category(id);


--
-- Name: anomaly anomaly_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.anomaly
    ADD CONSTRAINT anomaly_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transaction(id);


--
-- Name: anomaly anomaly_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.anomaly
    ADD CONSTRAINT anomaly_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: automation_rule automation_rule_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.automation_rule
    ADD CONSTRAINT automation_rule_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: balance_projection balance_projection_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_projection
    ADD CONSTRAINT balance_projection_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: budget budget_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.budget
    ADD CONSTRAINT budget_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.transaction_category(id);


--
-- Name: budget budget_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.budget
    ADD CONSTRAINT budget_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: category_reserve category_reserve_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_reserve
    ADD CONSTRAINT category_reserve_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.transaction_category(id);


--
-- Name: category_reserve category_reserve_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_reserve
    ADD CONSTRAINT category_reserve_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: financial_goal financial_goal_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_goal
    ADD CONSTRAINT financial_goal_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: financial_score financial_score_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_score
    ADD CONSTRAINT financial_score_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: goal_contribution goal_contribution_goal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_contribution
    ADD CONSTRAINT goal_contribution_goal_id_fkey FOREIGN KEY (goal_id) REFERENCES public.financial_goal(id);


--
-- Name: goal_contribution goal_contribution_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_contribution
    ADD CONSTRAINT goal_contribution_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transaction(id);


--
-- Name: income income_income_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_income_type_id_fkey FOREIGN KEY (income_type_id) REFERENCES public.income_type(id);


--
-- Name: income income_investment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_investment_id_fkey FOREIGN KEY (investment_id) REFERENCES public.investment(id);


--
-- Name: investment_composition investment_composition_investment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_composition
    ADD CONSTRAINT investment_composition_investment_id_fkey FOREIGN KEY (investment_id) REFERENCES public.investment(id);


--
-- Name: investment_composition investment_composition_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_composition
    ADD CONSTRAINT investment_composition_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transaction(id);


--
-- Name: investment investment_investment_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment
    ADD CONSTRAINT investment_investment_type_id_fkey FOREIGN KEY (investment_type_id) REFERENCES public.investment_type(id);


--
-- Name: investment investment_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment
    ADD CONSTRAINT investment_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transaction(id);


--
-- Name: investment investment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment
    ADD CONSTRAINT investment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: log_transaction log_transaction_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_transaction
    ADD CONSTRAINT log_transaction_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transaction(id);


--
-- Name: simulation simulation_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation
    ADD CONSTRAINT simulation_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: transaction transaction_transaction_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_transaction_category_id_fkey FOREIGN KEY (transaction_category_id) REFERENCES public.transaction_category(id);


--
-- Name: transaction transaction_transaction_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_transaction_type_id_fkey FOREIGN KEY (transaction_type_id) REFERENCES public.transaction_type(id);


--
-- Name: transaction transaction_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: user_achievement user_achievement_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievement
    ADD CONSTRAINT user_achievement_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievement(id);


--
-- Name: user_achievement user_achievement_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievement
    ADD CONSTRAINT user_achievement_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lyCcge86dLmXnLIv1XdEddGF07FGg0hiNN1DqEeCYpJYu5dxfHeYB9ix9rPc7v9

